<!-- your html code here -->
<div class="row bg-white px-3 px-md-5">
    <div class="col-12 px-0">
        <div class="row">
            <h2 class="title">Contact</h2>
        </div>
        <div class="row">
            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur omnis eos, rem doloribus, soluta ea veniam dicta voluptatibus cupiditate harum minima iste corrupti ipsa excepturi id dolores hic incidunt ratione!</p>
        </div>
        <div class="row">
            <div class="col-8 mx-auto bg-light p-3 border">
                <div class="row mb-3">
                    <div class="col-md-3 col-sm-5 text-end">
                        <label for="InputEmail" class="form-label ms-5"><strong>Your E-mail</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-7 mb-2">
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-sm-5 text-end">
                        <label for="InputText" class="form-label ms-5"><strong>Your message</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-7 mb-2">
                        <textarea type="text" class="form-control" id="InputText" aria-describedby="textlHelp" style="height: 150px;"></textarea>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

