<!-- your html code here -->
<div class="body">
    <h5 class="title">Portfolio</h5>
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur omnis eos, rem doloribus, soluta ea veniam dicta voluptatibus cupiditate harum minima iste corrupti ipsa excepturi id dolores hic incidunt ratione!</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="website/assets/img/big-project-image.png" class="card-img-top" alt="card1">
        <div class="card-body">
          <h5 class="text-primary">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="website/assets/img/big-project-image.png" class="card-img-top" alt="card2">
        <div class="card-body">
          <h5 class="text-primary">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="website/assets/img/big-project-image.png" class="card-img-top" alt="card3">
        <div class="card-body">
          <h5 class="text-primary">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p>
        </div>
      </div>
    </div>
  </div>
 </div>
 