<!-- your html code here -->
  <div class="row bg-white p-5">
    <div class="col px-0">
      <div class="row">
        <h2 class="title">Portfolio</h2>
      </div>
      <div class="row">
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur omnis eos, rem doloribus, soluta ea veniam dicta voluptatibus cupiditate harum minima iste corrupti ipsa excepturi id dolores hic incidunt ratione!</p>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row"><img src="assets/img/big-project-image.png"></div>
          <div class="row"><h5 class="text-primary mt-4">Proyect Name</h5></div>
          <div class="row"><p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p></div>
        </div>
        <div class="col-4">
          <div class="row"><img src="assets/img/big-project-image.png"></div>
          <div class="row"><h5 class="text-primary mt-4">Proyect Name</h5></div>
          <div class="row"><p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p></div>
        </div>
        <div class="col-4">
          <div class="row"><img src="assets/img/big-project-image.png"></div>
          <div class="row"><h5 class="text-primary mt-4">Proyect Name</h5></div>
          <div class="row"><p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam architecto et maxime possimus doloribus minus asperiores illo enim officiis voluptas explicabo nobis voluptates natus sint cum incidunt, molestias reiciendis?</p></div>
        </div>
      </div>
    </div>
  </div>

    
   
 