<!-- your html code here -->
<div class="row bg-white p-4 gx-5">
    <div class="col-md-3 offset-1  col-lg-3 col-xl-3">
        <img class="rounded-circle img-fluid" src="assets/img/2.jpg" alt="">
    </div>
    <div class="col-md-7 col-lg-7 col-xl-7">
        <h1>The Secong Heading <span style="color: gray;">Is Pretty Cool Too</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tempore earum nihil? Harum beatae modi quo sunt doloremque rerum impedit eius quas reprehenderit quidem laudantium laboriosam ducimus, error laborum eveniet?</p>
    </div>
    
</div>