<div class="row p-5 bg-white">
    <div class="col-md-4 col-lg-4 col-sm-12">
        <img class="rounded-circle img-fluid" src="assets/img/2.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12">
        <h1>The Secong Heading <span style="color: gray;">Is Pretty Cool Too</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tempore earum nihil? Harum beatae modi quo sunt doloremque rerum impedit eius quas reprehenderit quidem laudantium laboriosam ducimus, error laborum eveniet?</p>
    </div>    
</div>
